.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.img {
  width: 200px;
  height: 120px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
  flex-wrap: nowrap;
  text-align: center;
}

.position {
  display: grid;
  grid-template-columns: 0fr 0fr;
  column-gap: 200pt;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}